@import "styles/variables";

@import "styles/mixins";
@import "styles/normalize";
@import "styles/icons";
@import "styles/button";
@import "styles/widget";
@import "styles/list";
@import "styles/dropdown-list";
@import "styles/number-picker";
@import "styles/calendar";
@import "styles/select-list";
@import "styles/multiselect";
@import "styles/autocomplete";
@import "styles/popup";
@import "styles/state";
@import "styles/flight";

.text-center {
  text-align: center;
}
.flex-display {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}
